.mrl-logo {
  background-image: url("./assets/img/more-logo.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.mrl-bg-img{
  background-image: url("./assets/img/bg.jpg");
}
.error-404{
  background-image: url("./assets/img/freepik/404-img.jpg");
  background-repeat: no-repeat;
  margin-left: -50px;
  margin-right: auto;
  height: 400px;
}

.snackbar{
  width: 300px;
  padding: 20px;
  left: 75%;
  position: fixed;
  top: 0;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  background: #ff6565;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin-top: -100%;  
  transition: all 0.2s;
}

.snackbar.active{
  margin-top: 68px;
}

.snackclose{
  margin-left: 15px;
  color: black;  
  float: right; 
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .snackbar {
   left: 5%;
    width: 90vw;
  }
}